# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Visual Studio / Rider
.vscode/
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# OS junk
.DS_Store
Thumbs.db

# Misc
crashlytics-build.properties
.gradle/venv/
